.banner {
  width: 100%; 
  padding-bottom: 5rem;
  display: flex; 
  justify-content: center; 
}

.banner img {
  width: 100%;
  height: 40rem; 
  object-fit: cover; 
}

.bannerText {
position: absolute; 
top: 35%; 
left: 5%; 
color: #030342; 
padding: 5rem; 
border-radius: 5px;  
max-width: 50%; 
}

.bannerText h1 {
font-size: 5rem; 
margin: 0;
}

.bannerText h2 {
font-size: 2.5rem; 
margin-top: 2rem;
}