.card{
    height: 27rem;
    width: 24rem;
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p2/2082471-black-and-grey-modern-material-design-overlapped-layers-background-corporate-template-for-your-business-vector-abstract-widescreen-background-vetor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.card img{
    margin: 1.2rem 0 3.5rem 0;
    width: 21rem;
    height: 12rem;
    border-radius: 0.8rem 0.8rem 0 0;
}
h2 span{
    color: #b10000;
}

.preco{
    font-size: 2rem;
}

.comprar{
    text-decoration: underline;
    color: #fff;
}

.card-link{
    display: flex;
    align-items: center;
}

.card-link .seta{
    font-size: 1.5rem;
    color: #b10000;
}