header .cima{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #00ff93;
    color: #030342;
    padding: 1rem 0;
}

.search{
    width: 32%;
    height: 2.2rem;
    border-style: hidden;
    border-color: #030342;
    border-radius: 0.8rem;
    text-align: justify;
    text-indent: 1rem;
}

.search:hover{
    border: 0.5px solid #030342;
}

.div-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.div-cadastro:hover{
    color: #fff;
    transition: 100ms;
}

.icone{
    font-size: 2rem;
}

.cadastro{
    font-size: 1.1rem;
    color: #030342;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.cadastro:hover{
    color: #fff;
    text-decoration: underline;
    transition: 100ms;
}

.links{
    height: 3rem;
    width: 100%;
    background-color: #030342;
    color: #00ff93;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.link{
    text-decoration: none;
    color: #00ff93;
    font-size: 1.2rem;
}

.link:hover{
    color: #fff;
    text-decoration: underline;
    transition: 50ms;
}

.headline{
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: #030342;
    background-color: #00ff93;
    font-weight: bold;
}