.imagens-titulo {
    text-align: center;
    margin-bottom: 1rem;
    color: #030342;
}

.titulolanc {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.subtitulo {
    font-size: 1.75rem;
    margin-bottom: 5rem; 
    background-color: #00ff93;
}

.chuteira {
    display: inline-block;
    width: 45%; 
    margin: 0 2.5%; /* Espaçamento entre as imagens */
    box-sizing: border-box; 
    overflow: hidden; 
    margin-bottom: 5rem; 
    position: relative; /* Para permitir o posicionamento do botão dentro da div */
}

.chuteira img {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 8px; 
}

.btn-interesse {
    position: absolute;
    bottom: 3rem; 
    left: 20%;
    transform: translateX(-50%); 
    background-color: #00ff93; 
    color: #030342; 
    padding: 10px 20px; 
    border: none;
    border-radius: 10px; 
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn-interesse:hover {
    background-color: #030342; 
    color: #00ff93;
}


.registrado {
    background-color: #030342; 
    color: #00ff93;
}
