.titulo{
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.cursos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

